:root {
    --Accent-Color-Gold: #DCB567;
    --Mono-Color-Black: #132333;
    --pink: #dc67a3;
}

body {
    /* font-family: Arial, sans-serif; */
    font-family: "Noto Sans JP";
    margin: 0;
    padding: 0;
    background-color: #FFF;
    color: #132333;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* center-vertical */
    align-items: center;
    /* center-horizontal */
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #132333;
}


h1.heading {
    text-transform: uppercase;
    /* PC/h2 */
    font-family: "Noto Sans JP";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 42px */
    letter-spacing: 1.12px;

    span {
        background-color: #FFF;
        display: inline-block;
        z-index: 1;
        padding-right: 10px;
    }
}

h1.heading:before {
    content: "";
    background-color: var(--Accent-Color-Gold);
    display: block;
    position: relative;
    top: 23px;
    width: 100%;
    height: 6px;
    z-index: -1;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px;
    display: flex;
}

nav ul li a {
    color: #132333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}


main {
    padding: 20px;
}


section {
    margin-bottom: 20px;
}


img {
    max-width: 100%;
    height: auto;
}


button {
    border: none;
    cursor: pointer;
}

button:hover {}

footer {
    background-color: #333;
    color: #132333;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.top-bot-border {
    border-top: 1px solid #ABBCCC;
    border-bottom: 1px solid #ABBCCC;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    align-items: center;
}

.menu-icons {
    justify-content: center;
}

.icon-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    gap: 50px;
    /* Adjust the gap between icon-button as needed, doesnt work */
}